<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block titulo%}
            index
            {%endblock%}
    </title>
</head>
<body>
    {%block body%}

        <h1>Bem vindo ao site </h1>

        <h3>Acesse sua conta da Empresa siga> </h3>

    <form method="POST">
        {%block formulario %}
        {{form.csrf_token }}

        {{form.email.label}}
        {{form.email() }}

        {{form.password.label}}
        {{form.password() }}
        {{form.botao_confirmacao() }}
        {%endblock%}
    </form>
        <a href="{{url_for('tarefas', usuario = 'neymar' )}}">entrar</a>
        <a href="{{url_for('criarconta')}}">criarconta</a>
    {%endblock%}


</body>
</html>
