<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
</head>
<body>
    <h1>
        Nossa base central do site;
        <p>Nosso site trabalha com Gerenciador de tarefas, feito para analisar o computador de pessoas da empresa
        </p>
        <a href="{{url_for('tarefa')}}">IR para Tarefas</a>
    </h1>

    <h3>

         <a href="{{url_for('gerenciador')}}">IR para Gerenciador</a>
    </h3>


</body>
</html>