<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{%block titulo%}
            index
            {%endblock%}
    </title>
</head>
<body>
{%block body%}
    <h1>Bem vindo ao site </h1>
    <h3>Entre para nossa empresa </h3>
{%block formulario %}
    <form method="POST">

        {{form.csrf_token }}
        {{form.email.label}}
        {{form.email() }}

        {{form.password.label}}
        {{form.password() }}
        {{form.botao_confirmacao() }}


        <a href="{{url_for('criarconta')}}">criarconta</a>
    </form>

{%endblock%}
{%endblock%}
</body>
</html>

