{% extends "index.html" %}

{% block titulo %}
Tarefas - {{ usuario.username }}
{% endblock %}

{% block body %}

<h2>Minhas Tarefas</h2>

{% if form %}
<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}

    <div>
        {{ form.titulo.label }}
        {{ form.titulo(class="form-control") }}
    </div>

    <br>

    <div>
        {{ form.descricao.label }}
        {{ form.descricao(class="form-control") }}
    </div>

    <br>

    <div>
        {{ form.arquivo.label }}
        {{ form.arquivo(class="form-control") }}
    </div>

    <br>

    <div>
        {{ form.botao_confirmacao(class="btn btn-primary") }}
    </div>
</form>

<hr>
{% endif %}

{% if usuario.tarefas %}

    {% for tarefa in usuario.tarefas %}

    <div class="card mb-3 p-3">

        <h4>{{ tarefa.titulo }}</h4>

        <p>{{ tarefa.descricao }}</p>

        <p>Status: {{ tarefa.status }}</p>
        <br>
        <a href="{{ url_for('index') }}">sair</a>
        <a href="{{ url_for('gerenciador') }}">Gerenciador da Empresa</a>
        <br>
        {% if tarefa.arquivo %}
           <img src="{{ url_for('static', filename='arquivo_tarefa/' ~ tarefa.arquivo) }}">
                 alt="Imagem da tarefa"
                 width="200">
        {% else %}
            <p>Nenhuma imagem enviada.</p>
        {% endif %}

    </div>

    <hr>

    {% endfor %}

{% else %}

<p>Você ainda não possui tarefas cadastradas.</p>

{% endif %}

{% endblock %}